/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  scroll-behavior: smooth;
}

/* Navbar */
.navbar {
  background-color: #000000;
  color: #ffffff;
  padding: 1.5rem 0;
  position: sticky;
  top: 0;
  z-index: 10;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: 'Yellowtail', cursive;
  font-size: 3rem;
  color: #0076b6;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 1.5rem;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #0076b6;
}

/* Contact Us Button */
.btn-contact {
  background-color: #0076b6;
  padding: 0.5rem 1.5rem;
  color: #ffffff;
  border-radius: 12px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  margin-left: 1.5rem;
  transition: background-color 0.3s ease;
}

.btn-contact i {
  margin-left: 0.5rem; /* Space between the text and the icon */
}

.btn-contact:hover {
  background-color: #005b8a;
}

/* Footer */
footer {
  text-align: center;
  padding: 1.5rem 0;
  background-color: #afafaf;
  color: #000000;
}

/* About Us Section */
.about {
  background-color: #f4f4f4;
  padding: 6rem 0;
}

.about h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: #000000;
  font-size: 2.5rem;
}

.about p {
  text-align: center;
  font-size: 1.5rem;
  max-width: 800px;
  margin: 0 auto;
}

/* Products Section */
.products {
  background-color: #ffffff;
  padding: 6rem 0;
}

.products h2 {
  text-align: center;
  margin-bottom: 2.5rem;
  color: #000000;
  font-size: 2.5rem;
}

.product-list {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.product-item {
  text-align: center;
  max-width: 350px;
}

.product-item h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #0076b6;
}

.product-item p {
  font-size: 1.2rem;
  color: #333333;
}

/* Contact Section */
.contact {
  background-color: #f4f4f4;
  padding: 6rem 0;
}

.contact h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: #000000;
  font-size: 2.5rem;
}

.contact p {
  text-align: center;
  font-size: 1.5rem;
  max-width: 800px;
  margin: 0 auto;
}

.contact ul {
  list-style-type: none;
  padding-left: 0;
  text-align: center;
}

.contact li {
  font-size: 1.3rem;
  margin: 1rem 0;
}
